*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

header {
    background-color: #26262d;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0px;
}


.logo{
    width: 250px;
    height: 80px;
}

.register-btn{
    background-color: #0949ef;
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: 700;
    border-radius: 8px;
    border: none;
    border-bottom: 2px solid #0949ef;
    padding: 10px 20px;

}

.register-btn:hover {
    background-color: #081cc5;
    border-bottom: 2px solid #0a0339;
}

.register-btn.form-btn{
    margin-top: 20px;
    padding: 10px 30px;
}

.register-box{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;

}

.register-form{
    width: 600px;
}

.register-title{
    font-size: 24px;
    color: #333;
    margin: 30px 0;
    margin-top: 50px;
}

.input-group{
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100%;
}

.input-group label{
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;

}

.input-group label span{
    color: red;
}

.input-group input {
    width: 100%;
    border: 1px solid #0949ef;
    outline: none;
    border-radius: 8px;
    font-size: 18px;
    padding: 7px;
}

.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: 0px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.result-box {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 500px;
    height: auto;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.result-img{
    position: absolute;
    top: -60px;
    width: 120px;
    height: 120px;
    border-radius: 50%;

}

.result-title{
    font-size: 32px;
    margin-top: 60px;
}

.result-text {
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
}

.result-btn{
    margin-top: 20px;
    margin-bottom: 20px;

}