@{
    Layout = "_Layout";
    ViewData["Title"] = "Result Page";
}



<div class="result">
    <div class="result-box">
        <img class="result-img" src="~/images/success.png" />
        <h1 class="result-title">Muvaffaqiyatli</h1>
        <h1 class="result-text">Sizning arizangiz qabul qilindi tez orada adminlarimiz sizga aloqaga chiqadi.</h1>
        <a asp-controller="Home" asp-action="Index" class="register-btn result-btn">Orqaga</a>
    </div>
</div>